<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="toggleSideNav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title?.text}}</span>
  </div>

  <div fxLayout="row">
    <course-exchange-rates></course-exchange-rates>
    <button mat-icon-button [routerLink]="['/backoffice/cart']">
      <mat-icon [matBadge]="cartProductsCount$ | async" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>

