<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
<!--    <ng-content select=".menu"></ng-content>-->
    <mat-list>
      <mat-list-item [routerLink]="['/backoffice']" >
        <mat-icon>dashboard</mat-icon>
         Products
      </mat-list-item>
      <mat-list-item [routerLink]="['/backoffice/statistic']">
        <mat-icon>dashboard</mat-icon>
         Statistic
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
<!--    <div #contentPlace></div>-->
    <ng-content></ng-content>
  </mat-drawer-content>

</mat-drawer-container>
